<$mt:Var name="page_name" value="Categories"$>
<mt:Include name="mtb-include/config.tmpl">
<mt:Include name="mtb-include/header.tmpl">

<div class="container">
<mt:If name="saved_deleted">
	<div class="alert alert-success">Category deleted.</div>
</mt:If>
	<div class="mtl-header">
		<h1><$mt:Var name="page_name" escape="html"$></h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign glyphicon-white"></span> New Category</a>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Category</th>
					<th>Post Count</th>
				</tr>
			</thead>
			<tbody>
<mt:Loop name="category_loop">
				<tr>
					<td><$mt:Var name="category_label" escape="html"$></td>
					<td><$mt:Var name="category_entrycount" escape="html"$></td>
				</tr>
</mt:Loop>
			</tbody>
		</table>
	</div>
</div>

<mt:Include name="mtb-include/footer.tmpl">
