<$mt:Var name="page_name" value="Posts"$>
<mt:Include name="mtb-include/config.tmpl">
<mt:Include name="mtb-include/header.tmpl">

<div class="container">
<mt:If name="saved_deleted">
	<div class="alert alert-success">Post deleted.</div>
</mt:If>
	<div class="mtl-header">
		<h1><$mt:Var name="page_name" escape="html"$></h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="<$mt:Var name="script_url"$>?__mode=view&amp;_type=entry&amp;blog_id=<$mt:BlogID$>" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign glyphicon-white"></i> New Post</a>
		</div>
<mt:Include name="include/entry_table.tmpl">
	</div>
	<ul class="pager">
		<li class="previous<mt:Unless name="prev_offset"> disabled</mt:Unless>">
			<a href="<$mt:Var name="script_url"$>?__mode=list_entry&blog_id=<$mt:BlogID$>&amp;offset=<$mt:Var name="prev_offset_val"$>">&larr; Newer</a>
		</li>
		<li class="next<mt:Unless name="next_offset"> disabled</mt:Unless>">
			<a href="<$mt:Var name="script_url"$>?__mode=list_entry&blog_id=<$mt:BlogID$>&amp;offset=<$mt:Var name="next_offset_val"$>">Older &rarr;</a>
		</li>
	</ul>
</div>

<mt:Include name="mtb-include/footer.tmpl">
