<$mt:Var name="page_name" value="Search"$>
<mt:Include name="mtb-include/config.tmpl">
<mt:Include name="mtb-include/header.tmpl">

<div class="container">
	<div class="mtl-header">
		<h1><$mt:Var name="page_name" escape="html"$></h1>
	</div>
	<form method="get" action="<$mt:Var name="script_url"$>">
		<input type="hidden" name="__mode" value="search_replace" />
		<input type="hidden" name="_type" value="<$mt:Var name="object_type"$>" />
<mt:If name="blog_id">
		<input type="hidden" name="blog_id" value="<$mt:Var name="blog_id"$>" />
</mt:If>
		<input type="hidden" name="do_search" value="1" />
		<input type="hidden" name="magic_token" value="<$mt:Var name="magic_token"$>" />
		<div class="mtl-section">
			<div class="form-group">
				<div class="input-group">
					<input type="search" name="search" value="<mt:var name="search" escape="html">" autofocus class="form-control" />
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary">Search</button>
					</span>
				</div>
			</div>
		</div>
	</form>
<mt:If name="have_results">
	<div class="panel panel-default">
	<mt:If name="searched" id="search_results"></mt:If>
	</div>
</mt:If>
</div>

<mt:Include name="mtb-include/footer.tmpl">
