<$mt:Var name="page_name" value="Rebuild"$>
<mt:Include name="mtb-include/config.tmpl">
<mt:Include name="mtb-include/header.tmpl">

<div class="container">
	<div class="mtl-header">
		<h1><$mt:Var name="page_name" escape="html"$></h1>
	</div>
	<form method="post" action="<$mt:Var name="script_url"$>">
		<input type="hidden" name="__mode" value="start_rebuild" />
		<input type="hidden" name="blog_id" value="<$mt:Var name="blog_id" escape="html"$>" />
		<input type="hidden" name="next" value="<$mt:Var name="build_next" escape="html"$>" />
		<input type="hidden" name="total_entries" value="<$mt:Var name="total_entries" escape="html"$>" />
		<input type="hidden" name="total_pages" value="<$mt:Var name="total_pages" escape="html"$>" />
		<input type="hidden" name="total_cats" value="<$mt:Var name="total_cats" escape="html"$>" />
		<hr />
		<div>
			<div class="radio">
				<label>
					<input type="radio" name="type" value="<$mt:Var name="build_order"$>" checked>
					All Files
				</label>
			</div>
<mt:If name="index_tmpl_id">
			<div class="radio">
				<label>
					<input type="radio" name="type" value="index-<$mt:Var name="index_tmpl_id"$>" checked>
					Index Template: <$mt:Var name="index_tmpl_name" escape="html"$>
				</label>
			</div>
</mt:If>
			<div class="radio">
				<label>
					<input type="radio" name="type" value="index"<mt:If name="index_selected"> checked</mt:If>>
					Only Indexes
				</label>
			</div>
<mt:Loop name="archive_type_loop">
			<div class="radio">
				<label>
					<input type="radio" name="type" value="<$mt:Var name="archive_type"$>">
					Only <$mt:Var name="archive_type_label" escape="html"$> Archives
				</label>
			</div>
</mt:Loop>
<mt:Loop name="rebuild_option_loop">
			<div class="radio">
				<label>
					<input type="radio" name="type" value="<$mt:Var name="key"$>">
					<$mt:Var name="label" escape="html"$>
				</label>
			</div>
</mt:Loop>
		</div>
		<hr />
		<div>
			<button type="submit" class="btn btn-primary">Rebuild</button>
		</div>
	</form>
</div>

<mt:Include name="mtb-include/footer.tmpl">
