<$mt:Var name="app_name" value="MT/Lite"$>
<$mt:Var name="path_to_jquery" value="http://www.example.com/static/jquery.js"$>
<$mt:Var name="path_to_bootstrap" value="http://www.example.com/static/bootstrap/"$>
<$mt:Var name="path_to_extras" value="http://www.example.com/static/mtlite/"$>
<$mt:Var name="path_to_stats" value="http://www.example.com/mt/mt-static/support/dashboard/stats/0/001/001/entry.xml"$>
