<$mt:var name="app_name" value="MT/Lite"$>
<$mt:var name="path_to_bootstrap" value="http://www.example.com/static/bootstrap/"$>
<$mt:var name="path_to_extras" value="http://www.example.com/static/mtlite/"$>
