<$mt:Var name="app_name" value="MT/Lite"$>
<$mt:Var name="path_to_jquery" value="//example.com/path/to/jquery.js"$>
<$mt:Var name="path_to_bootstrap" value="//example.com/path/to/bootstrap/"$>
<$mt:Var name="path_to_extras" value="//example.com/path/to/mtlite/"$>
<$mt:Var name="path_to_stats" value="//example.com/path/to/mt-static/support/dashboard/stats/"$>
