<mt:If name="author_name">
</div>
<div id="footer">
	<div class="container">
		<div class="mtl-badge"></div>
	</div>
</div>
</mt:If>
<script src="<$mt:Var name="path_to_jquery"$>"></script>
<script src="<$mt:Var name="path_to_bootstrap"$>js/bootstrap.min.js"></script>
<script src="//www.google.com/jsapi"></script>
<script src="<$mt:Var name="path_to_extras"$>js/mtlite.js"></script>
</body>
</html>
