<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><$mt:var name="app_name"$></title>
    <link rel="stylesheet" href="<$mt:var name="path_to_bootstrap"$>css/bootstrap.min.css" />
    <link rel="stylesheet" href="<$mt:var name="path_to_extras"$>css/mtlite.css" />
</head>
<body>
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="<$mt:var name="mt_url"$>"><$mt:var name="app_name"$></a>
				<ul class="nav pull-right">
					<li><a><$mt:var name="author_name"$></a></li>
				</ul>
			</div>
		</div>
	</div>
